:root {
    --defaultColor: #666;
    --timeStampColor: #888;
    /* Replace #FF0000 with your desired color value */
    --rowBackground1: #f4e9ff;
    --rowBackground2: #e2f9e2;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: var(--defaultColor);
    width: 33%;
    margin: 0 auto;
}

table {
    width: 100%;
}

#session-column {
    width: 70%;
}

.measurement-column {
    width: 10%;
}

.number {
    text-align: right;
}

.timestamp {
    /* font-size: smaller; */
    font-weight: lighter;
    color: var(--timeStampColor);
}

th {
    background-color: var(--rowBackground1);
}

tr {
    vertical-align: top;
    background-color: var(--rowBackground2);
}

td.bg0 {
    background-color: var(--rowBackground1);
}

td.bg1 {
    background-color: var(--rowBackground2);
}


td.session-info:hover {
    background-color: #ccc;
}

input {
    width: 100%;
}

@media screen and (max-width: 1080px) {
    body {
        width: 100%;
        margin: 0 auto;
        font-size: 50px;
    }
    button {
        font-size: 50px;
        padding: 10px 20px;
    }
    input {
        font-size: 50px;
        /* padding: 10px 20px; */
    }
    table {
        width: 100%;
        margin: 0 auto;
    }
}